body{
    margin: 0;
    padding: 0;
    background: white;
    
}

.title{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    color: aliceblue;
    display: inline;
    
    
}
.title-span{
    color: orangered;
    display: inline;

}
.title-div{
    background: rgb(0, 0, 0);
    padding: 20px;
    
    
}

.CONTINUE{
    background-color: orangered;
    text-decoration: none;
    color: white;
    padding: 20px;
    border-radius: 5px;
}
.continue1{
    text-align: center;
}

.CONTINUE:hover{
    background-color: black;
    color: white;

}
.top1{
    
    margin-left: 0px;
    font-family: sans-serif;
    list-style: none;
    margin-top: 60px;
    
}
.top2{
    font-size: 35px;
    margin-left: 0px;
    font-family: sans-serif;
    list-style: none;
}

.span-title-topic{
    color: orangered;
    margin: 0%;
}

.topa{
    text-decoration: none;
    color: black;
    font-size: 60px;
    font-family: fantasy;
    
    

}
.t10{
    text-decoration: none;
    font-size: 60px;
    font-family: fantasy;
    color: orangered;

}
.ethical{
    text-decoration: none;
    
    color: orangered;
}
.topa2{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: fantasy;
}











